.breadcrumb {
	background-color: #fff;
	padding: 5px 5px;
	font-size: 12px;
}

.col-grid {
	margin-bottom: 10px;
}

small {
	font-size: 11px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

[v-cloak] {
	display: none;
}

.dropzone {
    border: 2px dotted rgba(0, 0, 0, 0.3) !important;
}

.folder-view {
	width: 100%;
	height: 115px;
	font-size: 70px;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
}

.folder-view a {
	
}

.context-menu-icon.context-menu-icon-fa {
	display: list-item;
	font-family: inherit;
	line-height: inherit;
}

.context-menu-icon.context-menu-icon-fa::before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2em;
	font-family: "Font Awesome 5 Free";
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	color: #2980b9;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.context-menu-icon:hover {
	background-color: #d0d0d0;
	color: #000;
}